@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 !important;
  overflow: auto !important;
}

body {
  color: #ffffff;
  background-color: #333366;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.container {
  padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 1.1;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: #FF4C60;
  outline: 0;
  transition: all 0.3s;
}

a:hover {
  color: #F7F7F7;
  text-decoration: none;
}

a:focus {
  outline: 0;
}

#home {
  background-image: url("/img/bg.jpg");
  background-size: cover;
}

.avatar-pic {
  display: flex;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ffffff;
  padding: 5px;
  margin: auto;
}
.avatar-pic img {
  border-radius: inherit;
  overflow: hidden;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
  height: 100vh;
  min-height: 100vh;
}

section .intro {
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-title {
  position: absolute;
  top: 5%;
}

.social-icons {
  display: flex;
  list-style: none;
  gap: 8px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  padding: 11px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 1px #ffffff;
}
@media screen and (max-width: 900px) {
  .social-icons a {
    width: 14px;
    padding: 6px;
  }
}

.social-icons img {
  transition: all 0.3s;
  filter: invert(0.9);
}

.social-icons a:hover {
  border-color: #fff;
}

.social-icons a:hover img {
  filter: invert(1);
}

.about {
  display: flex;
  gap: 34px;
}
@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
  }
}
.about .avatar-pic {
  width: 200px;
  align-self: flex-start;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .about .avatar-pic {
    margin: auto;
  }
}
.about .description {
  position: relative;
  display: flex;
  width: fit-content;
  border-radius: 15px;
  padding: 20px;
  background: #404066;
  gap: 40px;
}
@media screen and (max-width: 900px) {
  .about .description {
    flex-direction: column;
  }
}
.about .description .tags {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  max-width: min-content;
  min-width: 190px;
  gap: 8px;
  height: min-content;
}
.about .description .tags span {
  display: inline-flex;
  padding: 0 8px;
  border-radius: 15px;
  color: #fff;
}
.about .description .tags span:nth-child(1) {
  background: fuchsia;
}
.about .description .tags span:nth-child(2) {
  background: blue;
}
.about .description .tags span:nth-child(3) {
  background: cornflowerblue;
}
.about .description .tags span:nth-child(4) {
  background: darksalmon;
}
.about .description .tags span:nth-child(5) {
  background: darkgoldenrod;
}
.about .description .tags span:nth-child(6) {
  background: mediumvioletred;
}
.about .description .tags span:nth-child(7) {
  background: cadetblue;
}
.about .description .tags span:nth-child(8) {
  background: lightcoral;
}
.about .description .tags span:nth-child(9) {
  background: mediumseagreen;
}
.about .description .tags span:nth-child(10) {
  background: tomato;
}
.about .description .tags span:nth-child(11) {
  background: slateblue;
}
.about .description:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  border-right-color: #404066;
  border-width: 15px;
  right: 100%;
  top: 20%;
}
@media screen and (max-width: 900px) {
  .about .description:after {
    right: 50%;
    top: auto;
    bottom: 100%;
    border-right-color: transparent;
    border-bottom-color: #404066;
    transform: translateX(50%);
  }
}

/*# sourceMappingURL=main.css.map */
