.astronaut-component {
  transition: transform;
  position: fixed;
  top: 20%;
  right: 20px;
  transform: translate(-50%, -50%);
  animation: fly 4s infinite linear;
  z-index: 10;

  &.fixed {
    position: relative;
    transform: translate(0, 0);

    .astronaut-wrapper {
      width: 250px;
      height: 250px;
    }
  }

  .astronaut-wrapper {
    transition: transform .3s;
    position: relative;
    width: 30vw;
    height: 30vw;
    max-width: 250px;
    max-height: 250px;
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;

    &._active {
      transform: translate(0, -20px);
    }

    .astronaut-avatar {
      position: absolute;
      width: 42%;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      overflow: hidden;
      transform: translate(-25%, -100%);
    }

    .astronaut-suit {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes fly {
  0% {
    transform: translate(0, -45%);
  }
  50% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, -45%);
  }
}