.astronaut-component {
  transition: transform;
  position: fixed;
  top: 20%;
  right: -10%;
  transform: translate(-50%, -50%);
  animation: fly 4s infinite linear;
  z-index: 10;

  .astronaut-wrapper {
    transition: transform .3s;
    position: relative;
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;

    &._active {
      transform: translate(0, -20px);
    }

    .astronaut-avatar {
      position: absolute;
      width: 42%;
      top: 14%;
      left: 40%;
      border-radius: 50%;
      overflow: hidden;
      transform: rotate(7deg);
    }

    .astronaut-suit {
      position: absolute;
      width: 100%;
    }
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -45%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -45%);
  }
}