.language-switcher {
  display: flex;
  flex-direction: column;
}

.language-switcher button {
  transition: .3s ease;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  width: 46px;
  height: 46px;
  border: solid 2px #ccc;
  background-position: center center;
  background-size: cover;
  transform: scale(0.8);

  &:last-child {
    margin-top: -23px;
    margin-left: -10px;
  }
}

.language-switcher button:hover {
  transform: scale(1);
}

.language-switcher .active {
  z-index: 100;
  border-color: #fff;
  transform: scale(1);
  animation: activate .3s linear;
  pointer-events: none;
}

@keyframes activate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30%);
  }
  100% {
    transform: translate(0, 0);
  }
}