.language-switcher {
  display: flex;
}

.language-switcher button {
  transition: .3s ease;
  cursor: pointer;
  margin-left: -10px;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: solid 2px #333333;
  background-position: center center;
}

.language-switcher button:hover {
  transform: scale(1.2);
}

.language-switcher .active {
  z-index: 100;
  border-color: #fff;
  animation: activate .3s linear;
}

@keyframes activate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}